/* stream */

body {
  background: #e0e1e5;
}

.wip-date-div {
  position: relative;
  background: #e7e9eb;
}

.wip-list {
  width: 550px;
  position: relative;
  padding-left: 80px;
  margin: 0;
  padding-bottom: 40px;
}

.wip-list:before {
  content: '';
  width: 3px;
  background: #d5d7d9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
}

.wip {
  /*min-height: 100px;*/
  color: #5a5b5e;
  margin: 40px 0 45px 0;
  position: relative;

}

.wip textarea {
  
}

.wip textarea {
  resize: none;
}

.wip-buttons {
  float: right;
  height: 40px;
  padding-top: 10px;
}

.wip-time {
  position: absolute;
  font-size: 11px;
  top: 10px;
  left: -50px;
  width: 40px;
  line-height: 12px;
  text-align: right;
  color: #909196;
  opacity: .6;
}

.wip-avatar {
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.wip-list .wip-avatar {
  position: absolute;
  left: 0;
  top: 0;
}

.wip-avatar img {
  display: block;
}

.wip-name {
  font-weight: bold;
  color: #003577;
}

.wip-text {
  background: #f0f2f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  position: relative;
  /*z-index: 2;*/
  padding: 10px;
  padding-left: 60px;
  min-height: 40px;
}

.wip-help .wip-tags {
  right: 40px;
}

.wip-tags {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.wip-tags .tag {
  /*padding: 0 0 0 5px;*/
  line-height: 18px;
  display: block;
  float: left;
  font-weight: normal;
  font-size: 11px;
  padding: 0 3px;
  background: #e0e2e4;
  border-radius: 3px;
  margin-left: 8px;
}

.wip-tags .label span {
  /*line-height: 0;*/
  cursor: pointer;
  display: block;
  float: right;
  padding: 0 5px 0 2px;
  border-radius: 0 3px 3px 0;
  margin-left: 5px;
  opacity: .7;
}
.wip-tags .label span:hover {
  opacity: 1;
}

.label {
  font-weight: normal;
}

.wip-text .wip-avatar {
  left: 10px;
  top: 10px;
}

.wip-meta {
  background: #f0f2f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding: 8px 0 0 0;
  padding: 14px 10px 0 10px;
  margin: -5px 10px 0 60px;
}

.wip-comment-list {
  /*text-align: center;*/
  /*padding: 0 0 10px 0;*/
}

.wip-comment {
  font-size: 13px;
  /*min-height: 30px;*/
  position: relative;
  /*padding: 5px 10px 5px 35px;*/
}

.wip-comment input {
  width: 353px;
  height: 16px;
  font-size: 13px;
  line-height: 16px;
  opacity: .6;
}

.wip-comment input:focus {
  opacity: 1;
}

.wip-comment .btn {
  opacity: .6;
}

.wip-comment .btn:hover, .wip-comment input:focus+button {
  opacity: 1;
}

/* sidebar */
.sidebar {
  padding-top: 30px;
}

.user-profile {
  padding-left: 90px;
  position: relative;
  min-height: 100px;
}

.user-profile h5 {
  margin: 0;
}

.user-profile .wip-avatar {
  position: absolute;
  left: 0;
  top: 0;
}

/* team list */

.wip-ribbon {
  display: none;
  width: 27px;
  height: 58px;
  background: url(../img/ribbon.png);
  z-index: 3;
  position: absolute;
  top: -6px;
  right: 5px;
}

.wip-help .wip-ribbon {
  display: block;
}

.team-list {

}

.team-list .wip-avatar {
  margin: 0 5px 0 0;
}

.team-list li {
  line-height: 23px;
  margin: 8px 0;
}